<button (click)="back()">Back</button>
<h1>{{course.courseName}}</h1>
<div>
    Course details:
    <p>available slots: {{course.availableSlots}}</p>
    <p>course duration: {{course.courseDuration}}</p>
    <p>fees: {{course.fees}}</p>
    <p>course id: {{course.courseId}}</p>
</div>

<h1>Applications</h1>
<div *ngFor="let application of applications">
    <p>{{application.applicationId}} - {{getUsername(application)}}</p>
    <p id="button" routerLink="/user/university/application-view" [queryParams]="{applicationId : [application.applicationId]}"> check out application</p>
</div>