<button mat-raised-button (click)="back()">Back</button>
<mat-card id="courseDetails">
    <mat-card-title>{{course.courseName}}</mat-card-title>
    <mat-card-subtitle>Id: {{course.courseId}}</mat-card-subtitle>
    <mat-card-content>
        <p>available slots: {{course.availableSlots}}</p>
        <p>course duration: {{course.courseDuration}}</p>
        <p>fees: {{course.fees}}</p>
    </mat-card-content>
</mat-card>

<h1>Applications</h1>
<div *ngFor="let application of applications">
    <p>{{application.applicationId}} - {{getUsername(application)}} - {{application.applicationStatus}}</p>
    <button mat-raised-button color="primary" routerLink="/user/university/application-view" [queryParams]="{applicationId : [application.applicationId]}"> check out application</button>
</div>