<ul>
    Browse by:
    <li id="button" (click)="searchType=SearchType.Course">Courses</li>
    <li id="button" (click)="searchType=SearchType.University">Universities</li>
</ul>

Search: <input type="text" [(ngModel)]="searchTerm">
<button (click)="search()">Search</button>

<ul id="results">
    Results:
    <div *ngIf="searchType==SearchType.Course">
        <li *ngFor="let course of courses" routerLink="/course" [queryParams]="{courseName: [course]}">
            {{course._courseName}}
        </li>
    </div>
    <div *ngIf="searchType==SearchType.University">
        <li *ngFor="let university of universities" routerLink="/university" [queryParams]="{ universityName: [university]}">
            {{university}}
        </li>
    </div> 
</ul>
