<div id="results">
    <mat-button-toggle-group>
        <mat-button-toggle color="primary" (click)="searchType=SearchType.Course">Courses</mat-button-toggle>
        <mat-button-toggle color="primary" (click)="searchType=SearchType.University">Universities</mat-button-toggle>
    </mat-button-toggle-group>    

    <br>

    <mat-form-field>
        <mat-label *ngIf="searchType==SearchType.Course">Filter Courses</mat-label>
        <mat-label *ngIf="searchType==SearchType.University">Filter Universities</mat-label>
        <input matInput [(ngModel)]="searchTerm" (click)="search()">
    </mat-form-field>

    <mat-selection-list [multiple]="false" *ngIf="searchType==SearchType.Course">
        <mat-list-option id="result" *ngFor="let course of courses | filter:searchTerm" routerLink="/course" [queryParams]="{courseId: [course.courseId]}">
            <div>
                <h3>{{course.courseName}}</h3>
                <p>available slots: {{course.availableSlots}} | course duration: {{course.courseDuration}} | fees: {{course.fees}} | course id: {{course.courseId}}</p>
            </div>
        </mat-list-option>
    </mat-selection-list>
    <mat-selection-list [multiple]="false" *ngIf="searchType==SearchType.University">
        <mat-list-option id="result" *ngFor="let university of universities | filter:searchTerm" routerLink="/university" [queryParams]="{universityId: [university.universityId]}">
            <h3>{{university.username}}</h3>
            <p>Id: {{university.universityId}}</p>
        </mat-list-option>
    </mat-selection-list>
</div>