<ul>
    Browse by:
    <li id="button" (click)="searchType=SearchType.Course">Courses</li>
    <li id="button" (click)="searchType=SearchType.University">Universities</li>
</ul>

Search: <input type="text" [(ngModel)]="searchTerm">
<button (click)="search()">Search</button>

<ul id="results">
    Results:
    <div *ngIf="searchType==SearchType.Course">
        <li *ngFor="let course of courses" routerLink="/course" [queryParams]="{courseId: [course.courseId]}">
            <ul>
                <li id="courseDetails">Course name: {{course.courseName}}, <br>
                    available slots: {{course.availableSlots}} <br> 
                    course duration: {{course.courseDuration}} <br>
                    fees: {{course.fees}} <br>
                    course id: {{course.courseId}}
                </li>
                <li id="specialButton"> check out course</li>
            </ul> 
        </li>
    </div>
    <div *ngIf="searchType==SearchType.University">
        <li *ngFor="let university of universities" routerLink="/university" [queryParams]="{ universityName: [university]}">
            {{university}}
        </li>
    </div> 
</ul>
