<button mat-raised-button color="primary" (click)="back()">Back</button>

<mat-card id="coursePage">
    <mat-card-title>{{course.courseName}}</mat-card-title>
    <mat-card-subtitle>Id: {{course.courseId}}</mat-card-subtitle>
    <mat-card-subtitle>Course details</mat-card-subtitle>
    <mat-card-content>
        <p>available slots: {{course.availableSlots}}</p>
        <p>course duration: {{course.courseDuration}}</p>
        <p>fees: {{course.fees}}</p>
    </mat-card-content>
    <br>
    <button mat-raised-button color="primary" *ngIf="isStudent&&(isConsidered===false)&&!disableAddConsidered" (click)="addToConsideredCourses()">
        Add to considered courses
    </button>

    <button mat-raised-button color="warn" *ngIf="isStudent&&(isConsidered===false)&&disableAddConsidered" disabled="true">
        You have already applied to this course
    </button>

    <button mat-raised-button color="primary" *ngIf="isStudent&&(isConsidered===true)" (click)="removeFromConsideredCourses()">
        Remove from considered courses
    </button>
</mat-card>