<button (click)="back()">Back</button>
<h1>{{course.courseName}}</h1>
<div>
    Course details:
    <p>available slots: {{course.availableSlots}}</p>
    <p>course duration: {{course.courseDuration}}</p>
    <p>fees: {{course.fees}}</p>
    <p>course id: {{course.courseId}}</p>
</div>
<br>
<p id="button" *ngIf="isStudent&&(isConsidered===false)" (click)="addToConsideredCourses()">
    Add to considered courses
</p>
<p id="button" *ngIf="isStudent&&(isConsidered===true)" (click)="removeFromConsideredCourses()">
    Remove from considered courses
</p>