<form (submit)="addCourse($event)">
    <input type="text" placeholder="Course Name" id="courseName">
    <input type="text" placeholder="Available slots" id="availableSlots">
    <input type="text" placeholder="Course Duration" id="courseDuration">
    <input type="text" placeholder="Fees" id="fees">
    <input type="submit" value="add course">
</form>

<form (submit)="deleteCourse($event)">
    <input type="number" placeholder="Course Id" id="courseId">
    <input type="submit" value="delete course">
</form>

<p>List of courses:</p>
<div *ngFor="let course of courses" routerLink="/user/university/course-view" [queryParams]="{courseId: [course.courseId]}">
    <p>{{course.courseName}} id: {{course.courseId}}</p>
    <p id="button"> check out course</p>
</div>