<form (submit)="addCourse($event)">
    <input type="text" placeholder="Course Name" id="courseName">
    <input type="text" placeholder="Available slots" id="availableSlots">
    <input type="text" placeholder="Course Duration" id="courseDuration">
    <input type="text" placeholder="Fees" id="fees">
    <input type="submit" value="add course">
</form>

<form (submit)="deleteCourse($event)">
    <input type="number" placeholder="Course Id" id="courseId">
    <input type="submit" value="delete course">
</form>

<p *ngFor="let course of courses">{{course.courseName}} course Id: {{course.courseId}}</p>