<button mat-raised-button (click)="back()">Back</button>

<mat-card>
    <mat-card-title>User Details</mat-card-title>
    <br>
    <p>Student username: {{username}}</p>
    <p>Application Id: {{application.applicationId}}</p>
    <p>Student Id: {{application.userId}}</p>
    <p>Course Id: {{application.courseId}}</p>
</mat-card>

<mat-card>
    <mat-card-title>Application Details</mat-card-title>
    <br>
    <p>Date of Application: {{application.dateOfApplication}}</p>
    <p>Date of Review: {{application.dateOfReview}}</p>
    <p>Date of Decision: {{application.dateOfDecision}}</p>
    <p>Application Status: {{application.applicationStatus}}</p>
</mat-card>
<div id="controlButtons">
    <button mat-raised-button color="primary" (click)="reset()">Reset Application</button>
    <button mat-raised-button color="primary" (click)="setInReview()" *ngIf="application.applicationStatus.toString()==ApplicationStatus[ApplicationStatus.APPLIED]">Set as in Review</button>
    <button mat-raised-button color="primary" (click)="setAccepted()" *ngIf="application.applicationStatus.toString()==ApplicationStatus[ApplicationStatus.IN_REVIEW]">Accept Application</button>
    <button mat-raised-button color="primary" (click)="setDeclined()" *ngIf="application.applicationStatus.toString()==ApplicationStatus[ApplicationStatus.IN_REVIEW]">Decline Application</button>
</div>