@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

#button {
    display: inline;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;

}

#button:hover {
    cursor: pointer;
    background-color: aquamarine;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
