/* You can add global styles to this file, and also import other style files */

li#button {
    display: inline;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;

}

li#button:hover {
    cursor: pointer;
    background-color: aquamarine;
}