
<button mat-raised-button *ngIf="!applicationsShown" (click)="viewApplications()" color="accent">View Applications</button>
<button mat-raised-button *ngIf="applicationsShown" (click)="hideApplications()" color="accent">Hide Applications</button>

<div *ngIf="applicationsShown">
    <div *ngFor="let application of applicationsSent">
        <mat-card>
            <mat-card-title>{{getUniversityNameForApplication(application)}}</mat-card-title>
            <mat-card-subtitle>Course: {{getCourseNameForApplication(application)}}</mat-card-subtitle>
            
            <p>Application Id: {{application.applicationId}}</p>
            <p>Date of Application: {{application.dateOfApplication | date: 'longDate'}}</p>
            <p>Date of Review: {{application.dateOfReview | date: 'longDate'}}</p>
            <p>Date of Decision: {{application.dateOfDecision | date: 'longDate'}}</p>
            <p>Application Status: {{application.applicationStatus}}</p>

            <button mat-raised-button color="warn" (click)="deleteApplication(application.applicationId)">WithDraw Application</button>
        </mat-card>
    </div>
</div>

<div>
    <br>
    <h2>Courses Considered</h2>
    
    
    <div *ngFor="let course of coursesConsidered">
        <mat-card>
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <mat-card-subtitle>Id: {{course.courseId}}</mat-card-subtitle>
            <p>available slots: {{course.availableSlots}}</p>
            <p>course duration: {{course.courseDuration}}</p>
            <p>fees: {{course.fees}}</p>
        </mat-card>
        <button mat-raised-button color="primary" *ngIf="!didChose(course)" (click)="chose(course)">Choose</button>
        <button mat-raised-button color="primary" *ngIf="didChose(course)" (click)="unchose(course)">UnChoose</button>
        <button mat-raised-button color="accent" routerLink="/course" [queryParams]="{courseId: [course.courseId]}">Course Page</button>
    </div>
    <br> <br> 
    <button mat-raised-button color="primary" (click)="sendApplication()">Send Application</button>
</div>